@font-face {
  font-family: 'ITC Serif Gothic Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Serif Gothic Extra Bold'), url('../Fonts/itc-serif-gothic-extra-bold-588cef7e1f5d9.woff') format('woff');
}

@font-face {
font-family: 'ITC Serif Gothic Regular';
font-style: normal;
font-weight: normal;
src: local('ITC Serif Gothic Regular'), url('../Fonts/itc-serif-gothic-regular-588cef4e7134b.woff') format('woff');
}

@font-face {
  font-family: 'Star Jedi';
  font-style: normal;
  font-weight: normal;
  src: local('Star Jedi'), url('../Fonts/Starjedi.woff') format('woff');
}

* { padding: 0; margin: 0; }

body, html
{
	width: 100%;
	height: 100%;
	font-family: "ITC Serif Gothic Extra Bold", arial, verdana, sans-serif
  !important;
	font-weight: 700;
	color: #ff6!important;
  background-image: url("../images/intro-back.png")!important;
  background-size: cover!important;
	background-color: #000!important;
	overflow: hidden;
}

p#start
{
	position: relative;
	width: 16em;
	font-size: 400%;
	font-weight: 400;
	margin: -10% auto auto auto;
	color: #4ee;
	opacity: 0;
	z-index: 1;
	-webkit-animation: intro 2s ease-out;
	-moz-animation: intro 2s ease-out;
	-ms-animation: intro 2s ease-out;
	-o-animation: intro 2s ease-out;
	animation: intro 2s ease-out;
}

@-webkit-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

h1
{
	position: absolute;
  font-family: 'Star Jedi'!important;
	width: 3em!important;
	left: 50%!important;
	top: 20%!important;
	font-size: 13em!important;
	text-align: center!important;
	margin-left: -1.3em!important;
	line-height: 0.9em!important;
	letter-spacing: -0.05em!important;
	color: #000!important;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6!important;
	opacity: 0!important;
	z-index: 1!important;
	-webkit-animation: logo 5s ease-out 2.5s!important;
	-moz-animation: logo 5s ease-out 2.5s!important;
	-ms-animation: logo 5s ease-out 2.5s!important;
	-o-animation: logo 5s ease-out 2.5s!important;
	animation: logo 5s ease-out 2.5s!important;
}

h1 sub
{
	display: block!important;
	font-size: 0.3em!important;
	letter-spacing: 0!important;
	line-height: 0.8em!important;
}

@-webkit-keyframes logo {
	0% { -webkit-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
	0% { -moz-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
	0% { -ms-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
	0% { -o-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 500%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p
{
	text-align: justify;
	margin: 0.8em 0;
}

#titles p.center
{
	text-align: center;
}

#titles a
{
	color: #ff6;
	text-decoration: underline;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 100s linear 4s infinite;
	-moz-animation: scroll 100s linear 4s infinite;
	-ms-animation: scroll 100s linear 4s infinite;
	-o-animation: scroll 100s linear 4s infinite;
	animation: scroll 100s linear 4s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

#in-sound {
  height: 1px;
  width: 1px;
}

.game-controls {
  font-family: 'Star Jedi', 'Roboto Slab', serif;
  color: #000;
  background-color: #ff0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
.turn-control {
  font-family: 'Star Jedi', 'Roboto Slab', serif;
  background-color: #ff0;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
#mute:hover {
  cursor:pointer;
}
#turn-image:hover {
  cursor: pointer;
}
